input {
    margin: 0;
}
input,
button {
    padding: 0;
}
input,
button {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}
a {
    text-decoration: none;
    color: inherit;
}
input,
button,
textarea {
    outline: none;
    border: none;
    appearance: none;
}
